@import "themes/black-deep-orange.theme";


.personal-header-image {
  background-image: url('assets/images/akshay-joy-icon.png');
  background-size: cover;
}

.fab{
  color: #536878;
}
.fas{
  color: #536878;
}

