<mat-progress-bar *ngIf="loading"  color="warn" mode="indeterminate">
  </mat-progress-bar>
<mat-grid-list  [responsive] ="responsive" #gridlistcontainer rowHeight="344px" (responsiveColsChange)="cols = $event" >
    <mat-grid-tile [colspan]="1" [rowspan]="2" style="overflow:auto;">
        <mat-card class="example-personal-info-card mat-elevation-z8" style="min-height: 92%">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="mat-card-title-personal">Akshay P Joy</mat-card-title>
              <mat-card-subtitle class="mat-card-sub-title-personal" color="primary">Full Stack Developer</mat-card-subtitle>
              <mat-card-subtitle class="mat-card-sub-title-personal">
                <mat-chip-list aria-label="selection">
                  <mat-chip *ngFor ='let skillHeader of skillHeaders' [color]='skillHeader.color' selected>{{skillHeader.skill}}</mat-chip>
                </mat-chip-list>
              </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content style="padding: 5px">

                  Competent, diligent & result-oriented professional, with <b>8+ year’s</b> experience IT industry. Worked accros multiple
                  Business Domains <b>Banking</b>, <b>Digital Marketing</b>, <b>Digital Marketing Tracking Engineering</b>,
                  <b>HealthCare (United Health Group)</b>
                  I believe in Don't repeat yourself philosophy. Worked as Tracking Team Lead for Digitil Marketing Company.
                  Completed one successful story AZURE Migration (Data, App, Processing, Scaling) as part of <b>DeltaX Digital Marketing Company</b>. Loved to explore the other stacks if and only if stack can solve my problem

                  <blockquote>
                      Just because something works doesn’t mean it can’t be improved
                      <span class="author"><i>Black Panther: Princess Shuri</i></span>
                    </blockquote>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="example-personal-info-card mat-elevation-z8" style="min-height: 84% ; width:100%">
            <mat-card-header>
              <div mat-card-avatar class="github-header-image"></div>
              <mat-card-title (click)="goToLink('https://github.com/akshayjoyinfo')">Github&nbsp;<mat-icon aria-hidden="false">open_in_new</mat-icon></mat-card-title>
              <mat-card-subtitle (click)="goToLink('https://github.com/akshayjoyinfo')">@akshayjoyinfo</mat-card-subtitle>
            </mat-card-header>
            <b>My Github Contributions</b>
            <mat-card-content style="padding:10px">
                <p>
                    <b>Guthub</b>
                    <button style="margin-left: 10px;margin-right: 15px" mat-raised-button color="accent" (click)="goToLink('https://github.com/akshayjoyinfo')"
                        matBadge="35" matBadgePosition="after" matBadgeColor="primary">
                        Repos
                    </button>
                    <button style="margin-right: 15px" mat-raised-button color="accent" (click)="goToLink('https://github.com/akshayjoyinfo?tab=repositories')"
                        matBadge="2" matBadgePosition="after" matBadgeColor="primary">
                        Gists
                    </button>
                    <button style="margin-right: 15px" mat-raised-button color="accent" (click)="goToLink('https://github.com/akshayjoyinfo?tab=stars')"
                    matBadge="14" matBadgePosition="after" matBadgeColor="primary">
                    Stars
                </button>
                  </p>
                  <b>Languages </b>
                  <p>


                      <mat-chip-list aria-label="selection">
                          <mat-chip *ngFor ='let lang of githubLanguages' color='accent' selected>{{lang}}</mat-chip>
                        </mat-chip-list>
                  </p>


            </mat-card-content>

          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
        <mat-card class="example-personal-info-card mat-elevation-z8" style="min-height: 84%; width:100%;">
            <mat-card-header>
              <div mat-card-avatar class="stackoverflow-header-image"></div>
              <mat-card-title (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy')">StackOverflow&nbsp;<mat-icon aria-hidden="false">open_in_new</mat-icon></mat-card-title>
              <mat-card-subtitle>@users/1802203/akshay-joy</mat-card-subtitle>
            </mat-card-header>
            <b>My Stack Overflow Contributions</b>
            <mat-card-content style="padding:10px">
              <p>
                  Reputations:
                  <button mat-raised-button color="accent" (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy?tab=reputation')"><b>1,610</b></button>
              </p>
                  <p>
                    Badges
                  <button mat-raised-button style="background: #FFCD47" (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy?tab=badges')">Gold: <b>1</b></button>
                  <button mat-raised-button style="background:#F6EDE5" (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy?tab=badges')">Silver: <b>10</b></button>
                  <button mat-raised-button style="background:#F77400" (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy?tab=badges')">Bronze:<b>20</b></button>
                </p>

                <p>
                    <mat-chip-list aria-label="selection">
                    <mat-chip color='accent' selected>147 answer</mat-chip>
                    <mat-chip color='accent' selected>19 questions</mat-chip>
                    <mat-chip color='accent' selected>~281k people reached</mat-chip>
                  </mat-chip-list>
                </p>
            </mat-card-content>

          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="example-personal-info-card mat-elevation-z8" style="min-height: 84%; width:100%">
          <mat-card-header>
              <div mat-card-avatar class="social-header-image"></div>
              <mat-card-title (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy')">LinekdIn&nbsp;<mat-icon aria-hidden="false">open_in_new</mat-icon></mat-card-title>
          </mat-card-header>
          <mat-card-content style="width: 90%">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="akshay-joy-86299341"><a class="LI-simple-link" href='https://in.linkedin.com/in/akshay-joy-86299341?trk=profile-badge'>Akshay Joy</a></div>

        </mat-card-content>
        </mat-card>
  </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="example-personal-info-card mat-elevation-z8" style="min-height: 84%; width:100%">
            <mat-card-header>
              <div mat-card-avatar class="pluralsight-header-image"></div>
              <mat-card-title>PluralSight</mat-card-title>
              <mat-card-subtitle>Akshay Joy</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="text-align: center">
            <img mat-card-image style="width:300px; height: 82px; padding:5px" src="assets/images/pluralsight-csharp.jfif" alt="Plural Songh Angular - Akshay Porfile">
            <img mat-card-image style="width:300px; height: 82px; padding:5px" src="assets/images/pluralsight-angular.jfif" alt="Plural Songh Angular - Akshay Porfile">
          </mat-card-content>
          </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
