.example-card {
  margin: 5px;
  // min-width: 200px;
  // min-height: 200px;
}

.example-personal-info-card {
  margin: 5px;
  // min-width: 200px;
  // min-height: 600px;
}

.mat-card-title-personal{
  font-size: 40px;
  font-weight: bolder;
}
.mat-card-sub-title-personal{
  font-size: 30px;
  font-weight: bolder;
}

.mat-card-content{
  font-size: 15px;
}

.example-header-image {
  background-image: url('https://www.gravatar.com/avatar/820485f598a880f02f1de125784b1bef?s=48&d=identicon&r=PG');
  background-size: cover;
  cursor:pointer;
}

.pluralsight-header-image{
  background-image: url('https://images-eu.ssl-images-amazon.com/images/I/51-Hci2bYjL.png');
  background-size:  cover;
  cursor:pointer;
}
.example-plural-angular-image {
  background-image: url('/assets/images/pluralsight-angular.jfif');
  background-size: cover;
  cursor:pointer;
}
.example-plural-csharp-image {
  background-image: url('/assets/images/pluralsight-csharp.jfif');
  background-size: cover;
  cursor:pointer;
}

mat-card-title{
  cursor:pointer;
}
mat-card-subtitle{
  cursor:pointer;
}
.github-header-image{
  background-image: url('https://banner2.kisspng.com/20180326/eye/kisspng-github-computer-icons-logo-github-5ab8a338143da0.8375508315220498480829.jpg');
  background-size: cover;
  cursor:pointer;
}

.stackoverflow-header-image{
  background-image: url('https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.svg?v=a010291124bf');
  background-size:  cover;
  cursor:pointer;
}
.cardList {
  display: flex;
  flex-direction: column;
}
/* Row Gap */
.cardList > *:not(:last-child) {
  margin-bottom: 32px;
}

.mat-raised-button{
  margin : 5px
}
