 <mat-card class="personal-card">
  <mat-card-header>
    <div mat-card-avatar class="personal-header-image"></div>
    <mat-card-title><b>Experinece</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
<div class="timeline-block timeline-block-right" style="margin-top:20px">
  <div class="marker"></div>
  <div class="timeline-content">
     <h3><b>ASSOCIATE | JP Morgan Chase & Co</b></h3>
     <span>April 2019 - Present </span>
     
       <ul>
        <li>Currently performing role as the Project/company demands</li>
      </ul>
  </div>
</div>

<div class="timeline-block timeline-block-left">
  <div class="marker"></div>
  <div class="timeline-content">
      <h3><b>SENIOR SOFTWARE ENGINEER | OPTUM (UNITED HEALTH GROUP Company)</b></h3>
      <span>September 2017 - April 2019 </span>
      
        <ul>
         <li>Working as Individual Contributor in OPTUM Imapct Pro Health Care Project</li>
         <li>Quick learner , I was able to bring new features/suggestions by understanding the product within a small interval of time</li>
         <li>Developed/Enhanced Projects modules irrespective of Tech stacks. Major contribution towards MVC, ASP.NET, WEB API, EF </li>
         <li>Revamped existing DB setup completely, introduced Fluent Migrator DB setup (Any DB at any time with just one click in Jenkins job)</li>
         <li>Also played crucial part of Cloud integration Research for Impact Pro projects. DB on AWS/AZURE instance, Deployable package AWS/AZURE instance (using WebDeploy 3.5 + python scripts)</li>
         <li>Designed/implemented EPICS(those EPICS were on backlog for a long time(5+ years)</li>
         <li>Always thought about solution, not for the technology stacks</li>
       </ul>
       <p>
         <b>Projects :- ImpactPro Suite</b>
       </p>
       <p>
          <b>Clients :- United HealthCare</b>
        </p>
  </div>
</div>

<div class="timeline-block timeline-block-right">
  <div class="marker"></div>
  <div class="timeline-content">
     <h3>Third Year</h3>
     <span>Some work experience</span>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
  </div>
</div>

<div class="timeline-block timeline-block-left">
  <div class="marker"></div>
  <div class="timeline-content">
     <h3>Fourth Year</h3>
     <span>Some work experience</span>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
  </div>
</div>

<div class="timeline-block timeline-block-right">
  <div class="marker"></div>
  <div class="timeline-content">
     <h3>Fifth Year</h3>
     <span>Some work experience</span>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
  </div>
</div>
</mat-card-content>
</mat-card>
