 <mat-card class="personal-card">
  <mat-card-header>
    <div mat-card-avatar class="personal-header-image"></div>
    <mat-card-title><b>Experinece</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container" style="margin-top: 20px">
      <div *ngFor="let exp of experiences;" class="timeline-item" [attr.date-is]="exp.time">
        <h1>{{exp.position}} | {{exp.company}}</h1>
        <p>
          <mat-chip-list  aria-label="Experinece Skills">
            <mat-chip *ngFor="let skill of exp.skills">{{skill}}</mat-chip>
            </mat-chip-list>
        </p>
        <p>
          {{exp.description}}
        </p>
      </div>
    </div>
</mat-card-content>
</mat-card>
