<mat-progress-bar *ngIf="loading"  color="warn" mode="indeterminate">
  </mat-progress-bar>
<mat-grid-list rowHeight="680px" cols=1 style="margin: 2px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" style="overflow:auto">
    <mat-card class="personal-card">
      <mat-card-header>
        <div mat-card-avatar class="personal-header-image"></div>
        <mat-card-title><b>Personal Profile</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="example-container">
          <mat-form-field *ngFor="let profileInfo of profileInformations;" [floatLabel]="profileOptions.value.floatLabel">
            <mat-icon class="profile-info-icon" matPrefix>{{profileInfo.icon}}</mat-icon>
            <input *ngIf="!profileInfo.textArea" matInput [placeholder]= "profileInfo.label" [value]="profileInfo.value" readonly=true>
            <textarea *ngIf="profileInfo.textArea" matInput [placeholder]= "profileInfo.label" readonly=true>{{profileInfo.value}}</textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Facbook</button>
        <button mat-button>LinkedIn</button>
        <button mat-button>Twitter</button>
        <button mat-button>ProjectEuler</button>
        <button mat-button>Github</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
