<mat-progress-bar *ngIf="loading"  color="warn" mode="indeterminate">
  </mat-progress-bar>
<mat-grid-list rowHeight="680px" cols=1 style="margin: 2px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" style="overflow:auto">
    <mat-card class="personal-card">
      <mat-card-header>
        <div mat-card-avatar class="personal-header-image"></div>
        <mat-card-title><b>Personal Profile</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="example-container">
          <mat-form-field *ngFor="let profileInfo of profileInformations;" [floatLabel]="profileOptions.value.floatLabel">
            <mat-icon class="profile-info-icon" matPrefix>{{profileInfo.icon}}</mat-icon>
            <input *ngIf="!profileInfo.textArea" matInput [placeholder]= "profileInfo.label" [value]="profileInfo.value" readonly=true>
            <textarea *ngIf="profileInfo.textArea" matInput [placeholder]= "profileInfo.label" readonly=true>{{profileInfo.value}}</textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-raised-button (click)="goToLink('https://www.facebook.com/akshayjoyin')"><i class="fab fa-facebook fa-2x"></i></button>
        <button mat-raised-button (click)="goToLink('https://www.linkedin.com/in/akshay-joy-86299341/')"><i class="fab fa-linkedin fa-2x"></i></button>
        <button mat-raised-button (click)="goToLink('https://twitter.com/akshaypjoy')"><i class="fab fa-twitter fa-2x"></i></button>
        <button mat-raised-button (click)="goToLink('https://github.com/akshayjoyinfo')"><i class="fab fa-github fa-2x"></i></button>
        <button mat-raised-button (click)="goToLink('https://stackoverflow.com/users/1802203/akshay-joy')"><i class="fab fa-stack-overflow fa-2x"></i></button>
        <button mat-raised-button (click)="goToLink('https://www.goodreads.com/user/show/20939909-akshay-joy')"><i class="fab fa-goodreads fa-2x"></i></button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
