mat-card img{
  width: 20%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-size: cover;
}

mat-card{
  cursor: pointer
}

.example-viewport {
  height: 500px;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
