mat-card img{
  width: 30%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-size: cover;
}

mat-card{
  cursor: pointer
}
