<mat-progress-bar *ngIf="loading" color="warn" mode="indeterminate">
</mat-progress-bar>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left" style="margin-top:3px">
  <mat-card class="example-card mat-elevation-z10" style="margin:3px" *ngFor="let project of projects" fxFlex="49"
    fxFlex.xs="100">
    <mat-card-header>
      <div mat-card-avatar [ngClass]="project.imageLink"></div>
      <mat-card-title (click) ="goToLink(project.link)"><b>{{project.product}}</b>&nbsp;<mat-icon aria-hidden="false">open_in_new</mat-icon></mat-card-title>
      <mat-card-subtitle>Duration: {{project.duration}}</mat-card-subtitle>
      <mat-card-subtitle>Role: {{project.designation}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        <mat-chip-list aria-label="Technologies">
          <mat-chip *ngFor="let tech of project.technology">{{tech}}</mat-chip>
        </mat-chip-list>
      </p>
      <b>About: </b>
      <i>
          {{project.description}}
      </i>

      <p>
        <b>Description: </b>
        {{project.responsibilities}}
      </p>
      <div *ngIf="project.applications">
        <mat-divider></mat-divider>
        <p>
          <b>Projects: </b>
          <mat-chip-list aria-label="Projects">
            <mat-chip (click) ="goToLink(app.link)" class="application-chip" *ngFor="let app of project.applications"><b>{{app.name}}</b>&nbsp;&nbsp;&nbsp;<mat-icon aria-hidden="false">open_in_new</mat-icon></mat-chip>
          </mat-chip-list>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
