<app-navigation-bar (toggleSidenav)="navigationSidenav.toggle()">
</app-navigation-bar>

<mat-sidenav-container autosize class="mat-elevation-z8">

  <mat-sidenav #navigationSidenav mode="side" opened role="navigation"  [fixedInViewport]="true" [fixedTopGap]="layoutGap">
    <mat-nav-list>

      <h2 matSubheader> {{'MySelf' }} </h2>

      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a *ngFor="let item of myWorkRoutes"
        mat-list-item
        (click)="navigationSidenav.close()"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

      <mat-divider></mat-divider>

      <h2 matSubheader> {{ 'CUSTOMERS' | translate }} </h2>

      <a *ngFor="let item of customerRoutes"
        mat-list-item
        (click)="navigationSidenav.close()"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content role="main" class="mat-sidenav-mysite-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
